.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #daf2efbf;
  padding-inline: 1rem;
}

.container {
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  padding: 4rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
